/* src/components/Comment.css */

.comment {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.comment .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment .comment-content {
  flex: 1;
}

.comment .comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.comment .comment-author {
  font-weight: bold;
  margin-right: 10px;
}

.comment .comment-time {
  color: #888;
  margin-right: 10px;
}

.comment .comment-photo {
  max-width: 20%;
  border-radius: 8px;
  margin: 10px;
}

.comment .comment-actions {
  margin-top: 10px;
}

.comment .comment-actions button {
  background-color: #0095f6;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.comment .comment-actions button:last-child {
  background-color: #ff4444;
}

.comment .comment-actions button:disabled {
  background-color: #b2dffc;
  cursor: not-allowed;
}

.comment .comments {
 color: gray;
}
